body{
    background-color: #18A2B5;
    overflow: auto;
}
.main-div{
    /* background-color: red; */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cotant{
    width: 450px;
}
.item{
background-color: aliceblue;
}
textarea{
    width: 100%;
    background-color:aliceblue ;
    height: 300px;
    padding: 12px 20px;
}
.error{
    border:red 1px solid ;
   
}
textarea:focus{
    outline: none;
}
input{
    border: 1px solid gray;
    padding:7px 10px;
    border-radius: 3px;
    width: 200px;

}
input:focus{
    border: 1px solid gray;
   outline: none;

}
select{
    border: 1px solid gray;
    padding:7px 10px;
    border-radius: 3px;
    width: 200px;     
}

@media only screen and (max-width: 600px) {
    .cotant{
        width: 90%;
    }
    /* input{
        width: 100%;
    }
    select{
      
        width: 100%;     
    } */
  }